:root{
    --primary-color:#2A2D34;
    --secondary-color:#009ddb;
    --tertiary-color:#F26430;
    --forth-color:#6761a8;
    --fifth-color:#009B72;
}
h3{
    color: var(--secondary-color);
}
h4{
    color: var(--primary-color);
}
.head{
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}
.heading{
    transition: 0.5s;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}
.content{
    margin-top: 36px;
    margin-bottom: 36px;
    max-width: 1000px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}
.sticky {
    transition: 0.5s;
    position:fixed;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: var(--tertiary-color);
    top: 0;
}
.sticky + hr + .content {
    padding-top: 36px;
}
a:hover{
    color: var(--forth-color) !important;
}
body {
    margin: 0;
    font-family: "Josefin Sans";
    font-size: 24px;
    background-color: #ffffff88;
    background-blend-mode: lighten;
    background-image: url(./assets/background-vectoroartworks.jpg);
    background-size: 25%;
}
div.container{
    display:flex;
    align-items:flex-start;
}
img.heading-img {
    border: 8px solid #aaddff99;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
img.content-img {
    border-radius: 20px;
    display: block;
    margin-bottom: 25px;
    width: 75%;
}
video {
    display: block;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    max-height: 500px;
    max-width: 100%;
    z-index: -100;
}
video.left {
    float:left;
    width: 75%;
}
video.right {
    margin-left: auto;
    float:right;
    width: 75%;
}
video.center {
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
}
p{
    display:block;
    color: var(--fifth-color);
    background-color: #fff;
    padding: 12px;
    font-size: 20px;
    font-family: "Josefin Sans";
}
hr {
    border-top: 2px dashed var(--primary-color);
}
table{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
td{
    font-family: Volkhov;
    font-size: clamp(2rem, 5vw+1rem, 7rem);
    text-align: center;
    text-anchor: middle;
    vertical-align: middle;
    transition: 0.5s;
}
td.forth{
    color: var(--tertiary-color);
}
td.secondary{
    color: whitesmoke;
}
td.bori{
    border-right: 1px solid #000;
}
td.bole{
    border-left: 1px solid #000;
}